@media screen and (max-width: 768px) {
  .ul_div {
    display: none;
  }
  .creativity {
    display: block;
    width: 100%;
  }
  .our_fun {
    display: block;
  }
  :root {
    --item-row: 2;
  }
}
