* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: teal;
}
.star_icon1 img {
  width: 100px;
  padding: 5px;
}
#star_icon {
  background-color: white;
  border: 5px solid rebeccapurple;
  outline: 3px solid white;
  border-radius: 30px;
}
#icon_star {
  border-radius: 50px;
  background-color: rebeccapurple;
  border: 5px solid white;
  outline: 3px solid rebeccapurple;
}
.star_icon1 {
  width: 650px;
  margin: 10px auto;
  border: 5px solid orange;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  outline: 5px solid black;
  background-color: rgb(152, 42, 35);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
